<div class="title-wrapper">
  <h1>{{title}}</h1>
</div>

<div class="content-wrapper">
  <hr>
  <!-- Data binding -->
  <app-hello></app-hello>
  <hr>
  <!--  @Input & @Output-->
  <app-child [appTitle]="title"
             (titleChanged)="onTitleChanged($event)">
  </app-child>
  <hr>
  <!-- Pipes -->
  <app-user></app-user>
  <hr>
  <!-- Built-in directives -- Custom ageDirective used in userComponent-->
  <app-languages></app-languages>
  <hr>
  <!-- Template variables & ViewChild decorator -->
  <app-view-child></app-view-child>
</div>
