<div class="title-wrapper">
  <h1>{{title}}</h1>
</div>

<div class="content-wrapper">
  <hr>
  <!-- Data binding -->
  <app-hello></app-hello>
  <hr>
  <!--  @Input & @Output-->
  <app-child [appTitle]="title"
             (titleChanged)="onTitleChanged($event)">
  </app-child>
  <hr>
  <!-- Pipes -->
  <app-user></app-user>
  <hr>
  <!-- Built-in directives -- Custom ageDirective used in userComponent-->
  <app-languages></app-languages>
  <hr>
  <!-- Template variables & ViewChild decorator -->
  <app-view-child></app-view-child>
  <hr>
  <!-- Content projection -->
  <app-angular>
    <img src="favicon.ico" class="image">
    <h5>Angular</h5>
    <ul>
      <li>Web development framework</li>
      <li>Loved by millions</li>
      <li #text>Developed by Google</li>
    </ul>
  </app-angular>
  <hr>
  <!-- Component lifecycle -->
  <app-lifecycle [title]="title"></app-lifecycle>
  <hr>
  <!-- Service & DI -->
  <app-notification></app-notification>
  <button (click)="onNotify()">Send notification from AppComponent</button>
  <h3>*****</h3>
  <hr>
  <!-- HTTP Communication -->
  <app-cars></app-cars>
  <hr>
</div>
