<h3 *ngIf="title">***** {{title}} *****</h3>
<!--********* one-way binding *********-->
<!-- Display helloMessage using *string interpolation* -->
<div class="hello-wrapper">
  <span>{{helloMessage}}</span>
  =
  <!-- Display helloMessage using *property binding* -->
  <span [textContent]="helloMessage"></span>

  <!-- *Event binding* -->
  <div>
    <button mat-flat-button color="primary" (click)="helloMessage = 'Hello'">Say Hello</button>
    =
    <button mat-flat-button color="accent" (click)="onClick()">Say Hi</button>
  </div>
  <mat-divider></mat-divider>
  <!--********* 2-way binding *********-->
  <div>
    <mat-form-field>
      <mat-label>Your message (2-way binging the hard way):</mat-label>
      <input matInput [value]="helloMessage" #input (keyup)="helloMessage = input.value">
    </mat-form-field>
  </div>
  <div>
    <!-- Simplify 2-way binding using ngModel (don't forget to import FormsModule in the appModule) -->
    <mat-form-field>
    <mat-label>Your message (2-way binding using ngModel):</mat-label>
    <input matInput [(ngModel)]="helloMessage">
    </mat-form-field>
  </div>
</div>
<h3>*****</h3>
