<h3>***** Pipes section *****</h3>
<mat-list>
  <div *ngIf="user.name as name">
    <mat-list-item>
      <span matListItemTitle>Last Name: </span>
      <span matListItemLine>{{name.lastName | uppercase}}</span>
    </mat-list-item>

    <mat-list-item>
      <span matListItemTitle>First Name: </span>
      <span matListItemLine> {{name.firstName | titlecase}}</span>
    </mat-list-item>

    <!--  the order matters: -->
    <mat-list-item>
      <span matListItemTitle>Middle Name: </span>
      <span matListItemLine>{{name.middleName | lowercase | titlecase}}</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>Name: </span>
      <span matListItemLine>{{name | name: 'long'}}</span>
    </mat-list-item>
  </div>

  <mat-list-item>
    <span matListItemTitle>Birthday: </span>
    <span matListItemLine>{{user.birthday | date: 'short'}}</span>
  </mat-list-item>
</mat-list>
<!--The custom directive: AgeDirective in practice-->
<mat-form-field>
  <mat-label>Age:</mat-label>
  <input matInput age>
</mat-form-field>

<h3>*****</h3>
