<h3>***** HTTP Communication *****</h3>

<button mat-mini-fab color="accent" (click)="onAddCar()">
  <mat-icon>add</mat-icon>
</button>

<div class="view-edit-wrapper">
  <div class="view-wrapper" *ngIf="cars$ | async as cars">
    <ng-container *ngFor="let car of cars; trackBy:trackCar">
      <app-car [routerLink]="'/http/'+ car.id" [car]="car"></app-car>
      <button mat-flat-button color="accent" (click)="onDeleteCar(car.id)" [disabled]="selectedCar?.id == car?.id">
        Delete
      </button>
    </ng-container>
  </div>
<div class="edit-wrapper">
  <app-car-edit *ngIf="isEditMode"
                [car]="selectedCar"
                (editCanceled)="onEditCanceled()"
                (submitted)="onSubmit($event)">
  </app-car-edit>
</div>
</div>

<h3>*****</h3>

