<h3>***** HTTP Communication *****</h3>
<button (click)="onAddCar()">
  Add car
</button>
<div class="view-edit-wrapper">
  <div *ngIf="cars$ | async as cars">
    <ng-container *ngFor="let car of cars">
      <app-car (click)="onCarClick(car)" [car]="car"></app-car>
      <button (click)="onDeleteCar(car.id)" [disabled]="selectedCar?.id == car?.id">Delete</button>
    </ng-container>
  </div>

  <app-car-edit *ngIf="isEditMode"
                [car]="selectedCar"
                (editCanceled)="onEditCanceled()"
                (submitted)="onSubmit($event)">
  </app-car-edit>
</div>

<h3>*****</h3>
