<h3>***** Reactive forms *****</h3>
<h5>{{car ? 'Update car' : 'Create car'}}</h5>

<form [formGroup]="formGroup">
  <mat-form-field>
  <mat-label>Make: </mat-label>
  <input matInput formControlName="make">
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-form-field>
  <mat-label>Model: </mat-label>
  <input matInput formControlName="model">
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-form-field>
  <mat-label>Color: </mat-label>
  <input matInput formControlName="color">
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-form-field>
  <mat-label>Year: </mat-label>
  <input matInput formControlName="year">
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-form-field>
  <mat-label>Price: </mat-label>
  <input matInput formControlName="price">
  </mat-form-field>
  <mat-divider></mat-divider>

   <button mat-button color="warn" type="button" (click)="onCancel()">
    Cancel
  </button>
   <button mat-flat-button color="accent" type="button" (click)="onSubmit()" [disabled]="formGroup.invalid">
    Submit
  </button>
</form>

<h3>*****</h3>
