<h3>***** Reactive forms *****</h3>
<h5>{{car ? 'Update car' : 'Create car'}}</h5>

<form [formGroup]="formGroup">
  <label>Make: </label>
  <input formControlName="make">
  <hr>
  <label>Model: </label>
  <input formControlName="model">
  <hr>
  <label>Color: </label>
  <input formControlName="color">
  <hr>
  <label>Year: </label>
  <input formControlName="year">
  <hr>
  <label>Price: </label>
  <input formControlName="price">
  <hr>

  <button type="button" (click)="onCancel()">
    Cancel
  </button>
  <button type="button" (click)="onSubmit()" [disabled]="formGroup.invalid">
    Submit
  </button>
</form>

<h3>*****</h3>

